entrypoint = "app.cli:main"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pip install . && python -m app.cli"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80
